# GitIgnore for python projects
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.egg-info/
*.manifest
*.spec

# Virtual environment
venv/
env/
ENV/
.venv/
.virtualenv/

# Jupyter Notebook
.ipynb_checkpoints
# VSCode settings
.vscode/

# macOS
.DS_Store

# Logs
*.log
logs/
*.out
*.err
